/*

.sidebar .card, .main .go
{
    background-color: #da491a;
}

.sidebar .continue
{
    background-color: #eab409;
    color: #ffffff;
}

.main .input-group-prepend span.input-group-text
{
    background-color: #da491a;
    color: #ffffff;
}

.summary h4
{
    color: #d76892;

}


*/
